@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
    background-color: #fff;
    font-family: 'Rubik',
        sans-serif;
    font-weight: 400;
    color: #242a45;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* jamoliddin started header section */
.site-head {
    width: 100%;
    padding-top: 48px;
}

.site-head .container {
    width: 75%;
    padding: 0 25px;
    background-color: #fff;
    margin-bottom: 10px;
}

.site-head__nav-link {
    margin-left: 48px;
    color: #242a45;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
}

.site-head__nav-items:last-child .site-head__nav-link {
    background: #FA5959;
    border: 2px solid transparent;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    color: #fff;
    padding: 12px 32px;
    font-weight: 500;
}

.site-head__nav-link:hover {
    color: #fa5959;
}

.site-head__nav-items:last-child .site-head__nav-link:hover {
    background: #ffffff;
    border: 2px solid #fa5959;
    color: #fa5959;
}
.site-head__logo-link-resp{
      display: none;
}

.site-head__btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    display: none;
}

.site-head__burger-icon {
    color: #242a45;
    font-size: 35px;
}
.site-head__btn-closed{
    display: none;
}
@media screen and (max-width: 900px) {
    .site-head__logo-link-resp {
        display: block;
        position: absolute;
        top: 10%;
        left: 7%;

    }
    .site-head__btn-closed{
        display: block;
        position: absolute;
        z-index: 100;
        top: 10%;
        right: 7%   ;
       border:none;
       background-color: transparent;
       cursor: pointer;
    }
    .site-head__close-icon{
        color: white;
        font-size: 30px;
    }
    .site-head .container{
        width: 100%;
        padding: 0 7%;
    }
    .site-head__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -120%;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: hsla(229, 31%, 21%, 0.95);
        mix-blend-mode: normal;
        z-index: 10000;
        color: #fff;
        padding: 0 32px;
        transition: 1s;
    }
    .show{
        top: 0;
    }

    .site-head__nav-items:not(:last-child) {
        padding: 24px 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.015);
        text-align: center;
        width: 100%;
    }
    .site-head__nav-items:first-of-type{
        border-top:solid 1px rgba(255, 255, 255, 0.015) ;
    }

    .site-head__btn {
        display: block;
        position: relative;
        top: -6px;
        left: -10px;
    }

    .site-head__nav-link {
        color: #fff;
        margin: 0;
    }

    .site-head__nav-items:last-child {
        width: 100%;
        padding: 24px 0;
    }

    .site-head__nav-items:last-child .site-head__nav-link {
        width: 100%;
        display: block;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: none;
        color: #fff;
        padding: 12px 0;
        font-weight: 500;
        text-align: center;
        transition: 0.5s;
    }

    .site-head__nav-link:hover {
        color: #171b2c;
    }

    .site-head__nav-items:last-child .site-head__nav-link:hover {
        background-color: #fff;
        border: solid 2px #171b2c;
        color: #171b2c;
    }
    .hidebtn,.hidelogo{
        display: none;
    }
    
}

/* jamoliddin finished header and started hero section */
 
.hero{
    width: 100%;
    height: 696px;
    background-color: #fff;
    position: relative;
}

.hero .container{
        width: 1150px;
        padding: 200px 25px;
        position: relative;

}
.hero__inner{
    width: 540px;
}
.hero__h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin: 0;
    margin-bottom:24px;
}
.hero__parag{
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 32px;
    
}
.hero__btns{
    padding: 10px 24px ;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid transparent;
}
.hero__btns-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.25px;
}
.hero__btns:first-child{
    background: #5267df;
    margin-right: 16px;
    
}
.hero__btns:first-child .hero__btns-link{
    color: #fff;


}
.hero__btns:first-child:hover{
    background: #FFFFFF;
    border: 2px solid #5267DF;
}
.hero__btns:first-child:hover .hero__btns-link{
    color:  #5267df;
}
.hero__btns:nth-child(2){
    background: #f7f7f7;

    
}
.hero__btns:nth-child(2) .hero__btns-link{
    color: #242a45;
    opacity: 0.75;


}
.hero__btns:nth-child(2):hover{
background: #FFFFFF;
border: 2px solid #5B6074;
}
    

.hero__img{
    position: absolute;
    right: -100px;
    bottom: 130px;
    z-index: 10;
}

.hero__background-image{
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 600px;
    height: 358px;
}
@media screen  and (max-width:992px){
    .hero .container {
        width: 86%;
        padding: 85px 0;
    }
    
    .hero__img {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        
    }
    
    .hero__background-image {
        top: 35%;
        width: 75%;
        height: 70%;
    }
    
    .hero__inner {
        text-align: center;
        padding-top: 200px;
        width: 100%;
    }
    
    .hero__h1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.09px;
    }
    
    .hero__parag {
        font-size: 15px;
        line-height: 25px;
        padding: 0 25px;
    }
    
    .hero__btns-box {
        width: 100%;
        justify-content: center;
    }
    
    .hero__btns {
        padding: 10px 17px;
    }
    
    
}    
@media screen and (max-width:768px ) {
        .hero__background-image {
            top: 23%;
            width: 75%;
        }
}
@media screen and (max-width:576px) {
    .hero__background-image {
        top: 10%;
        width: 70%;
    }
}
@media screen and (max-width: 451px) {

    .hero__background-image{
        top: 0%;
        width: 70%;
    }
    .hero__inner{
        margin-bottom: 100px;
        padding-top: 100px;
    }
    

}
@media screen and (max-width: 376px) {

    .hero__background-image {
        top: 0;
        width: 70%;
    }
    .hero__inner{
        padding-top:100px;
    }


}
@media screen and (max-width: 321px) {

    .hero__background-image {
        top: -3%;
        width: 70%;
    }
    .hero__btns{
        width: 100%;
    }
    .hero__btns:first-child{
        margin: 0;
        margin-bottom: 10px;
    }
    
}
/* jamoliddin finished hero and started feature section */
.feature{
    width: 100%;
    background-color:#fff ;
    background-image: url('../imgs/feature-backgroud.png');
    background-repeat: no-repeat;
    background-size: 1000px 352px;
    background-position: bottom  left -320px;
    padding-bottom: 100px;

}
.feature .container{
        width: 1150px;
        padding: 0 25px;
}
.feature__inner-box{
    width: 730px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;

}
.feature__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: #242A45;
    margin-bottom: 16px;
}
.feature__discribtion{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 540px;
    margin: 0 auto 72px ;
}
.feature__list{
    border-bottom: solid 1px #495dcf33;
    padding:  30px 0;
}
.feature__items{
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.533333px;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.75;
    cursor: pointer;
    padding: 0 45PX;
    position: relative;
}
.feature__items:hover{
    color: #FA5959;
    opacity: 1;
}
.feature__items:nth-child(3){
    padding: 0 0 0 75px ;

}
.feature__items:first-child{
    opacity: 1;
}
.feature__items:first-child::after{
    content: '';
    width: 250px;
    height: 4px;
    background-color: #fa5959;
    display: block;
    position: absolute;
    left: 0;
    bottom: -32px;
}

.feature__content-img{
    width: 536px;
    height: 346px;
}
.feature__content-inner{
    width: 445px;
    height: 235px;
}
.feature__content-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    letter-spacing: -0.1px;
    color: #242A45;
    margin-bottom: 16px;

}
.feature__content-discrimbtion{
    font-size: 18px;
    line-height: 28px;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 30px;
}
.feature__content-link{
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    border: solid 2px transparent;
}
.feature__content-link:hover{
    color: #5267DF;
    background:#fff ;
    border: solid 2px #5267df;
}
@media screen and (max-width:992px) {
    .feature{
        padding-top: 360px;
        background-size: 80% 28%;
        background-position: 0 80%;
    }
        .feature .container {
            width: 86%;
            padding: 85px 0;
        }
    .feature__list {
        border-bottom: 0;
        padding: 30px 0;
        flex-flow: column wrap;
        width: 100%;
    }
    .feature__items {
     
        padding: 20px 0;
        position: relative;
    border-bottom: solid 1px #495dcf33;
    width: 100%;

    }



    .feature__items:nth-child(3) {
        padding: 20px 0 ;

    }



    .feature__items:first-child{
        border-top: solid 1px #495dcf33;
    }
    .feature__content-box{
        flex-flow: column wrap ;
    }
    .feature__content-img{
        width: 100%;
        height: 100%;
        
    }
    .feature__discribtion {
        width: 100%;
    }
    .feature__inner-box {
        width: 100%;

    }
    .feature__items:first-child::after {
        content: '';
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 35%;
    
    }
    .feature__content-box{
        width: 100%;
    }
    .feature__content-inner{
        width: 100%;
        padding-top: 200px ;
    }
    .feature__title{
        font-size: 28px;
    }
    .feature__discribtion{
        font-size: 15px;
        line-height: 25px;
    }
    .feature__content-title{
        font-size: 28px;
        text-align: center;
    }
    .feature__content-discrimbtion{
        font-size: 15px;
        line-height: 25px;
        text-align: center;

    }
    .feature__content-link{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .feature {
        padding-top: 250px;
        background-size: 80% 26%;
        background-position: 0 75%;
    }

    .feature__content-inner {
        width: 100%;
        padding-top: 180px;
    }
}

@media screen and (max-width:576px) {
    .feature {
        padding-top: 160px;
        background-size: 80% 22%;
        background-position: 0 72%;
    }

    .feature__content-inner {
        width: 100%;
        padding-top: 150px;
    }
}
@media screen and (max-width:451px) {
     .feature {
         padding-top: 100px;
         background-size: 80% 18%;
         background-position: 0 70%;
     }
     .feature__content-inner {
         width: 100%;
         padding-top: 150px;
     }
     @media screen and (max-width: 376px) {
         .feature {
             padding-top: 50px;
             background-size: 80% 16%;
             background-position: 0 67%;
         }

         .feature__content-inner {
             width: 100%;
             padding-top: 120px;
         }

     }

     @media screen and (max-width: 321px) {
        .feature {
            padding-top: 60px;
            background-size: 80% 14%;
            background-position: 0 67%;
        }

        .feature__content-inner {
            width: 100%;
            padding-top: 100px;
        }

         
     }
}


 
.extension{
    width: 100%;
 
}
.extension .container{
    width: 1000px;
    padding: 150px 40px;
}
.extension__inner{
    width: 540px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.extension__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #242A45;
    margin-bottom: 16px;
}
.extension__discribtion{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.extension__items{
    width: 280px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    border-radius: 15px;
    padding: 50px 25px 25px 25px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.extension__list{
    width: 100%;
    list-style: none;
}
.extension__img{
    display: block;
    width: 105px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;    

}
.extension__items-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #242A45;
    margin-bottom: 6px;
}
.extension__items-text{
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 30px;
}
.second-box{
    margin: 80px  0 0 0 ;
}
.third-box{
    margin: 160px  0 0 0;
}
.extension__combined{
    position: absolute;
    top: 70%;
    left: -1px;
} 
.extension__add-brazers{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: solid 2px transparent;
    padding: 15px 32px;
    position: relative;
    top: 35px;
    transition: 0.5s;
    cursor: pointer;
    
}
.extension__add-brazers:hover{
    background-color:#fff ;
    color: #5267DF;
    border: solid 2px #5267df;
}
@media screen and (max-width:992px) {
    .extension .container {
        width: 86%;
        padding: 85px 0;
    }

    .extension__inner {
        width: 100%;
    }
    .extension__items{
        width: 32%;
    }
    .extension__combined{
        top: 71%;
    }
    .extension__add-brazers{
        padding: 10px 26px;
    }
}
@media screen and (max-width:768px) {
    .extension .container{
        padding: 0;
    }
    .extension__items{
        width: 100%;
        margin: 0 auto 0;
        margin-bottom: 50px;
    }

    .extension__combined {
        top: 71%;
        left: 50%;
        transform: translate(-50%);
    }

    .extension__add-brazers {
        padding: 15px 35px;
    }
}
@media screen and (max-width:576px) {
    .extension__title{
        font-size: 28px;
    }
}
@media screen and (max-width:451px) {
    .extension__title {
        font-size: 24px;
    }
    .extension__combined{
        width: 100%;
    }
}
@media screen and (max-width:350px) {
    .extension__add-brazers{
        padding: 12px 28px;
    }
}
@media screen and (max-width:320px) {
    .extension__add-brazers {
        padding: 10px 20px;
    }
}